<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Server Example</title>
</head>
<body>
    <article>
        <section>
            <h3>Lunch Menu</h3>
            <p>Please select what you want for lunch</p>
            <ul>
                <li>Salad</li>
                <li>Fish</li>
                <li>Aubergine</li>
                <li>Wraps</li>
            </ul>
        </section>
    </article>
</body>
</html>